a {
    color: #808080;
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover, a:focus {
    color: #42B6F3;
}


#bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #42B6F3;
}

body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 520px;
}
